<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">

</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<p>index is life</p>
<a class="btn btn-primary" th:href="@{/rabbitmq/send?content=test&address=testAddress&date=10/11/2001}"> send massage to Application B</a>
<p th:text="${serverPort}"></p>
<footer th:replace="fragments/header.html :: footer"></footer>
</body>
</html>