<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head">

</head>
<body>
<header th:replace="fragments/header.html :: header"></header>

<form class="" th:action="@{/estate/edit}"
      th:object="${estate}" method="post">
    <div class="form-group row">
        <label for="esateName" class="col-sm-2 col-form-label" >Email</label>
        <div class="col-sm-8">
            <input th:field="*{name}" type="text" class="form-control" id="esateName" placeholder="Estate Name">
        </div>
    </div>
    <div class="form-group row">
        <label for="price" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-8">
            <input th:field="*{price}" type="number" class="form-control" id="price" placeholder="Price For Estate" min="0">
        </div>
    </div>
    <div class="form-group row">
        <label for="stocksNumber" class="col-sm-2 col-form-label">Stocks Number</label>
        <div class="col-sm-8">
            <input th:field="*{stocksNumber}" type="number" class="form-control" id="stocksNumber" placeholder="Stacks Number for Estate" min="0">
        </div>
    </div>
    <input th:field="*{id}" hidden>

    <button type="submit" class="btn btn-primary">UPDATE</button>

</form>
<div class="alert alert-success" th:if="${isdone == 'true'}">
    <strong> Estate Added successfully.</strong>
</div>



<footer th:replace="fragments/header.html :: footer"></footer>
</body>
</html>